<main class="content-browse">
  {{#content/main-header
    backgroundImage="https://upload.wikimedia.org/wikipedia/commons/6/6e/Veil_Nebula_-_NGC6960.jpg"
    backgroundPosition="50% 40%"
  }}
    <nav class="navbar navbar-expand navbar-dark">
      <div class="container-fluid">
        {{#link-to "index" class="navbar-brand"}}
          <img src="/{{rootURL}}logo-inverted.png" alt="BaseCMS" height="30">
        {{/link-to}}

        {{content/queue-dropdown
          class="ml-auto mr-3"
          count=contentQueue.length
          on-clear=(action "clearQueue")
        }}

        {{content/browse/sort-controls
          class="mr-4"
          options=sortOptions
          sortByKey=sort-by
          directionKey=sort-direction
        }}

        {{search-form class="mr-3"}}

        <ul class="navbar-nav">
          {{user-nav}}
        </ul>
      </div>
    </nav>
  {{/content/main-header}}

  <section class="content-browse__list container-fluid">
    {{#fetch-more
      query=observable
      edges=model.edges
      hasNextPage=model.pageInfo.hasNextPage
      endCursor=model.pageInfo.endCursor
      resultKey="allContent"
    as |fetch|
    }}
      <div class="row">
        {{#each fetch.nodes as |item|}}
          {{content-card
            content=item
            attributionType=attribution
            contentQueue=contentQueue
            onQueueChange=(action "queue")
          }}
        {{/each}}
      </div>

      {{in-view on-viewport-enter=(action fetch.actions.loadMore)}}
      {{#if fetch.isFetching}}
        <div class="sk-double-bounce mx-auto my-0">
          <div class="sk-child sk-double-bounce1 bg-primary z-depth-1"></div>
          <div class="sk-child sk-double-bounce2 bg-primary z-depth-1"></div>
        </div>
      {{/if}}
    {{/fetch-more}}
  </section>

  {{content/browse/left-menu
    activeTabKey=active-tab
    facets=facets
    selectedContentTypes=selectedContentTypes
    on-content-type-click=(action "toggleContentTypes")
    on-content-type-clear=(action "clearContentTypes")
  }}

  <aside class="footer-controls left">
    {{!-- @todo Fix `classList` not defined error --}}
    {{!-- {{btn-scroll-top}} --}}
  </aside>

  <aside class="footer-controls right">
    {{content/create-btn}}
  </aside>

</main>

{{outlet}}
