<section class="browse">
  <div class="header bg-gradient-primary">
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-browse" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>

  <nav class="navbar navbar-expand navbar-dark">
    <div class="container-fluid">

      {{#link-to "index" class="navbar-brand"}}
        <img src="/{{rootURL}}logo-default.png" alt="BaseCMS" height="30">
      {{/link-to}}

      <ul class="navbar-nav">
        {{user-nav}}
      </ul>

      {{!-- @todo This needs to be re-worked --}}
      {{!-- {{search-form}} --}}

    </div>
  </nav>

  <section class="container-fluid mt-3 mb-6">
    {{#fetch-more
      query=observable
      edges=model.edges
      hasNextPage=model.pageInfo.hasNextPage
      endCursor=model.pageInfo.endCursor
      resultKey="allContent"
    as |fetch|
    }}
      <div class="row">
        {{#each fetch.nodes as |item|}}
          {{content-card
            content=item
            attributionType=attribution
            contentQueue=contentQueue
            onQueueChange=(action "queue")
          }}
        {{/each}}
      </div>

      {{in-view on-viewport-enter=(action fetch.actions.loadMore)}}
      {{#if fetch.isFetching}}
        <div class="sk-double-bounce mx-auto my-0">
          <div class="sk-child sk-double-bounce1 bg-primary z-depth-1"></div>
          <div class="sk-child sk-double-bounce2 bg-primary z-depth-1"></div>
        </div>
      {{/if}}
    {{/fetch-more}}
  </section>

  {{content/browse/left-menu
    activeTabKey=active-tab
    facets=facets
    selectedContentTypes=selectedContentTypes
    on-content-type-click=(action "toggleContentTypes")
    on-content-type-clear=(action "clearContentTypes")
  }}

  <aside class="footer-controls left">
    {{btn-scroll-top}}
  </aside>

  <aside class="footer-controls right">
    {{content/create-btn}}
  </aside>

</section>

{{outlet}}
