<main class="content-edit">
  {{#content/-header
    backgroundImage=(concat model.primaryImage.src "?auto=format&crop=focalpoint&dpr=2&fit=crop&fp-x=0.5&fp-y=0.5&h=540&w=960")
  }}
    <nav class="navbar navbar-expand navbar-dark">
      <div class="container-fluid">
        {{#link-to "index" class="navbar-brand"}}
          <img src="/{{rootURL}}logo-inverted.png" alt="BaseCMS" height="30">
        {{/link-to}}

        {{search-form class="ml-auto mr-3"}}

        <ul class="navbar-nav">
          {{user-nav}}
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10 col-lg-7">
          {{content/edit/inline-simple-editor
            class="content-edit__field content-edit__field--name"
            content=model.name
            placeholder="Enter a title..."
          }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-lg-7">
          {{content/edit/inline-simple-editor
            class="content-edit__field content-edit__field--teaser"
            content=model.teaser
            placeholder="Enter a teaser..."
          }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-lg-7 mb-2">
          {{content/status-badge status=model.statusText textClass="h5" class="mr-1"}}
          {{content/type-badge type=model.type textClass="h5"}}
        </div>
      </div>
    </div>
  {{/content/-header}}

  <section class="content-edit__main container-fluid">

    <div class="row">
      <div class="col-lg-7 col-md-10">
        <article class="card card--content">
          {{content/edit/inline-full-editor
            class="content-edit__field content-edit__field--body"
            content=model.body
            placeholder="Enter a body..."
          }}
        </article>
      </div>
    </div>

  </section>

</main>
