<section class="edit">
  {{!-- @todo Remove inline style! --}}
  <div class="header" style="background-image: url({{model.primaryImage.src}}?auto=format&crop=focalpoint&dpr=2&fit=crop&fp-x=0.5&fp-y=0.5&h=540&w=960); background-size: cover; background-position: center center;">
    <span class="mask bg-gradient-gray-dark opacity-7"></span>

    <nav class="navbar navbar-expand navbar-dark py-3">
      <div class="container-fluid">
        {{#link-to "index" class="navbar-brand"}}
          <img src="/{{rootURL}}logo-inverted.png" alt="BaseCMS" height="30">
        {{/link-to}}

        {{search-form class="ml-auto mr-3"}}

        <ul class="navbar-nav">
          {{user-nav}}
        </ul>
      </div>
    </nav>

    <div class="container-fluid banner">
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <h1 class="display-2 text-white text-depth-1-half" contenteditable="true">{{model.name}}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <p class="text-white text-depth-1 lead" contenteditable="true">{{model.teaser}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-7 col-md-10 mb-5">
          {{content/status-badge status=model.statusText class="h5 mr-1"}}
          {{content/type-badge type=model.type}}
        </div>
      </div>
    </div>

    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-browse" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>

</section>
