<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <div class="media align-items-center">
    <span class="avatar avatar-sm rounded-circle">
      <img alt="Image placeholder" src="https://secure.gravatar.com/avatar/38e23bf434e8ba27b96a726f5aa37e98">
    </span>
    <div class="media-body ml-2 font-weight-bold">
      Jacob Bare
    </div>
  </div>
</a>
<div class="dropdown-menu dropdown-menu-right z-depth-3">
  <div class="dropdown-header">
    <h6 class="text-overflow m-0">Welcome!</h6>
  </div>
  <a href="#" class="dropdown-item d-flex justify-content-between">
    <span>My Profile</span>
    {{entypo-icon "user" class="ml-1"}}
  </a>
  <a href="#" class="dropdown-item d-flex justify-content-between">
    <span>Settings</span>
    {{entypo-icon "cog" class="ml-1"}}
  </a>
  <a href="#" class="dropdown-item d-flex justify-content-between">
    <span>Change Password</span>
    {{entypo-icon "key" class="ml-1"}}
  </a>
  <a href="#" class="dropdown-item d-flex justify-content-between">
    <span>Support</span>
    {{entypo-icon "help-with-circle" class="ml-1"}}
  </a>
  <div class="dropdown-divider"></div>
  <a href="#" class="dropdown-item d-flex justify-content-between">
    <span>Logout</span>
    {{entypo-icon "log-out" class="ml-1"}}
  </a>
</div>