<div class="card content z-depth-1 border-0 mnh-100">
  {{#link-to "content.edit" typeDasherized id}}
    <img class="card-img-top" src={{imageSrc}} alt={{imageAlt}}>
    <div class="card-img-overlay">
      <div class="d-flex justify-content-between">
        {{content-card/status-badge status=status}}
        {{content-card/type-badge type=type}}
      </div>
    </div>
  {{/link-to}}
  <div class="card-body d-flex flex-column">
    <h4 class="card-title">
      {{#link-to "content.edit" typeDasherized id}}
        {{title}}
      {{/link-to}}
    </h4>
    <p class="card-text mb-0">
      {{teaserTruncated}}
    </p>
  </div>
  {{!-- @todo Fix this the footer is not clickable to the edit page. --}}
  <div class="card-footer py-2">

    <small class="text-muted d-block">
      Updated
      <span title={{updatedDate}}>
        {{updatedFromNow}}
      </span>
      by {{username}}
    </small>

    <div class="d-flex flex-row justify-content-between align-items-center mt-1">
      <small>ID: {{id}}</small>
      <label class="custom-toggle">
        <input type="checkbox">
        <span class="custom-toggle-slider rounded-circle"></span>
      </label>
    </div>

  </div>
</div>
