<div class="card content z-depth-1 border-0 mnh-100">

  {{content-card/image-cap
    contentId=content.id
    type=content.type
    name=content.name
    statusText=content.statusText
    image=content.primaryImage
  }}

  <div class="card-body border-top">
    <h4 class="card-title mb-0">
      {{#content/edit-link contentId=content.id type=content.type}}
        {{content.name}}
      {{/content/edit-link}}
    </h4>
    {{#with content.company as |company|}}
      {{#if company.id}}
        <small class="d-block mt-1 mb-0">
          From:
          {{#content/edit-link contentId=company.id type="Company"}}{{company.name}}{{/content/edit-link}}
        </small>
      {{/if}}
    {{/with}}
    <p class="card-text mt-3 mb-0">
      {{teaserTruncated}}
    </p>
  </div>

  <div class="card-footer py-2 d-flex">
    <div class="d-flex flex-column">

      <small class="d-flex mb-1">
        <div class="d-flex flex-column mr-1">
          {{entypo-icon "key"}}
        </div>

        <div class="d-flex flex-column">
          {{content.id}}
        </div>
      </small>

      {{content-card/user-attribution
        class="d-block mb-0"
        created=content.created
        createdBy=content.createdBy.username
        updated=content.updated
        updatedBy=content.updatedBy.username
        selected=attributionType
      }}
    </div>

    {{!-- <div class="d-flex flex-column mt-auto">
      <label class="custom-toggle">
        <input type="checkbox">
        <span class="custom-toggle-slider rounded-circle"></span>
      </label>
    </div> --}}





    {{!-- <div class="d-flex flex-row justify-content-between align-items-center mt-1">
      <small>{{entypo-icon "info"}} {{content.id}}</small>
      <label class="custom-toggle">
        <input type="checkbox">
        <span class="custom-toggle-slider rounded-circle"></span>
      </label>
    </div> --}}

  </div>
</div>
