<div class="card content z-depth-1 border-0 mnh-100">

  {{content-card/image-cap
    contentId=content.id
    type=content.type
    name=content.name
    statusText=content.statusText
    image=content.primaryImage
  }}

  <div class="card-body border-top">
    <h4 class="card-title mb-0">
      {{#content/edit-link contentId=content.id type=content.type}}
        {{content.name}}
      {{/content/edit-link}}
    </h4>
    {{#with content.company as |company|}}
      {{#if company.id}}
        <small class="d-block mt-1 mb-0">
          From:
          {{#content/edit-link contentId=company.id type="Company"}}{{company.name}}{{/content/edit-link}}
        </small>
      {{/if}}
    {{/with}}
    <p class="card-text mt-3 mb-0">
      {{teaserTruncated}}
    </p>
  </div>

  <div class="card-footer py-2">

    <div class="d-flex">
      <div class="d-flex flex-column">
        <small class="d-block">
          {{entypo-icon "key"}}
          {{content.id}}
        </small>
        {{content-card/user-attribution
          created=content.created
          createdBy=content.createdBy.username
          updated=content.updated
          updatedBy=content.updatedBy.username
          selected=attributionType
        }}
      </div>

      <label class="custom-toggle ml-auto mt-auto mb-0">
        <input type="checkbox">
        <span class="custom-toggle-slider rounded-circle"></span>
      </label>
    </div>

  </div>
</div>
