<div class="card content z-depth-1 border-0 mnh-100">

  {{content-card/image-cap
    contentId=content.id
    type=content.type
    name=content.name
    statusText=content.statusText
    image=content.primaryImage
  }}

  <div class="card-body border-top">
    <h4 class="card-title">
      {{#content/edit-link contentId=content.id type=content.type}}
        {{content.name}}
      {{/content/edit-link}}
    </h4>
    <p class="card-text mb-0">
      {{teaserTruncated}}
    </p>
  </div>

  <div class="card-footer pt-2 pb-1">
    {{log content}}
    {{content-card/user-attribution
      created=content.created
      createdBy=content.createdBy.username
      updated=content.updated
      updatedBy=content.updatedBy.username
      selected=attributionType
    }}

    <div class="d-flex flex-row justify-content-between align-items-center mt-1">
      <small>ID: {{content.id}}</small>
      <label class="custom-toggle">
        <input type="checkbox">
        <span class="custom-toggle-slider rounded-circle"></span>
      </label>
    </div>

  </div>
</div>
