{{#if show}}
  <div class="d-flex flex-column mr-1">
    {{entypo-icon "clock"}}
  </div>

  <div class="d-flex flex-column">
    <div class="d-flex flex-row">
      <div>
        {{label}}
        {{#if fromNow}}
          <abbr title={{dateDisplay.title}} {{action "toggleDates"}}>{{dateDisplay.value}}</abbr>
        {{/if}}
        {{#if username}}
          by {{username}}
        {{/if}}
      </div>
    </div>
  </div>
{{/if}}
