{{#content-for "head"}}
  <title>{{section.metadata.title}} | {{site.config.name}}</title>
  <meta name="description" content="{{section.metadata.description}}">
  <link rel="canonical" href="{{requestOrigin}}{{canonicalPath}}">
{{/content-for}}
