<div class="card content z-depth-1 border-0 mnh-100">

  {{!-- @todo Company logos needs to fit within the 16x9 box --}}
  {{content-card/image-cap
    contentId=content.id
    type=content.type
    name=content.name
    statusText=content.statusText
    image=content.primaryImage
  }}

  <div class="card-body border-top">
    <h4 class="card-title mb-0">
      {{#content/edit-link contentId=content.id type=content.type}}
        {{content.name}}
      {{/content/edit-link}}
    </h4>
    {{#with content.company as |company|}}
      {{#if company.id}}
        <small class="d-block mt-1 mb-0">
          From:
          {{#content/edit-link contentId=company.id type="Company"}}{{company.name}}{{/content/edit-link}}
        </small>
      {{/if}}
    {{/with}}
    <p class="card-text font-weight-light mt-3 mb-0">
      {{teaserTruncated}}
    </p>
  </div>

  <div class="card-footer py-2">

    <div class="d-flex justify-content-between">
      <div class="d-flex flex-column mr-1">
        <small class="d-block">
          {{entypo-icon "key"}}
          {{content.id}}
        </small>
        {{content-card/user-attribution
          created=content.created
          createdBy=content.createdBy.username
          updated=content.updated
          updatedBy=content.updatedBy.username
          selected=attributionType
        }}
      </div>  


      <div class="custom-control custom-checkbox mt-auto ml-auto mr--2">
        {{input type="checkbox" id=(concat "content-queue-" content.id) class="custom-control-input" checked=isQueued change=(action "emitQueueChange")}}
        <label class="custom-control-label" for="content-queue-{{content.id}}"></label>
      </div>
      
    </div>

  </div>
</div>
